@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Ultra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Ultra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Bungee+Shade&family=Ultra&display=swap');

body {
    margin: 0px;
    padding: 0px;
    /*font-family:'Crimson Text',serif;*/

    font-family: 'Ubuntu', sans-serif;
}

/* NAVBAR
-------------------------------------------------- */
li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header{
    border-bottom: 1px solid #E2E8F0;
}

.nav-section {
    width: 100%;
    height: 100vh;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu {
    display: flex;
    padding-right: 5%;
}

.nav-item {
    margin-left: 5rem;
}

.nav-item > a {
    color: #565555;
    transition: .4s;
}

.nav-item:hover > a {
    transform: scale(1.1);
    text-decoration: none;
}

.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: #475569;
    text-decoration: none;
}

.nav-logo {
    display: flex;
    justify-content: flex-start;
    font-size: 1.5rem;
    color: #565555;
    padding-left: 2%;
}

/* HOME PICTURE
-------------------------------------------------- */
.name-container {
    position: absolute;
    left: 13%;
    top: 42%;
    transform: translate(-13%, -42%);
}

.presentation-text {
    font-weight: bold;
    letter-spacing: 1px;
    color: #fff;
    font-size: 60px;
    text-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}

.download-button-container {
    display: flex;
    justify-content: center;
    padding: 8%;
}

.download-button {
    text-decoration: none;
    padding: 30px;
    font-size: 20px;
    letter-spacing: 2px;
    color: #475569;
    border: 2px #f1e4d8 solid;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 50px;
}

.download-button:hover {
    opacity: 0.8;
}









/* Homepage 
animation
-----------------------*/
.scene-section {
	display:flex;
	flex-direction:column;
}

.feature {
	align-items:center;
	display:flex;
	flex-direction:column;
	height:100%;
	justify-content:center;
	width:100%;
}

.screen {
    background-color: #e3e3e36c;
	background-size:auto 102%;
    background-repeat:no-repeat;
    height: 108vh; /*height of the animation */
    width: 100%;
	filter:sepia(40%);
	left:50%;
	overflow:hidden;
	position:absolute;
	top:50%;
    transform:translate(-50%,-50%);
}

.screen::after {
    box-shadow:inset 0px 0px 150px 20px #000;
    content:'';
    height:100%;
    left: 0;
    mix-blend-mode:color;
    position:absolute;
    top:0;
    width:100%; 
    z-index:90;
}

.screen__noise {
    left:0;
    height:100%;
    opacity:.05;
    pointer-events:none;
    position:absolute;
    top:0;
    width:100%;
    z-index:100;
}
.screen__effects {
    height: 105%;
    margin-top:-20px;
    margin-left:-20px;
    position:absolute;
	width:105%;
}

.screen__effects::before{
    animation:gradientSize 1.5s infinite;
    box-shadow:inset 0 0 10em rgba(0,0,0,1);
    content:'';
    height:100%;
    left:0;
    position:absolute;
    top:0;
    width:100%;
}

.screen__effects::after{
    animation:moveLine 8s infinite;
    background-color:#000;
    content:'';
    display:block;
    height:100%;
    position:absolute;
    width:1px;
}
	
.screen_vignette {
    box-shadow:inset 0px 0px 150px 20px #000;
    height:100%;
    mix-blend-mode:multiply;
    position:absolute;
  	width:100%; 
}

.scene {
	display:none;
	height:100%;
	left:0;
	overflow:hidden;
	position:absolute;
	top:0;
	width:100%;
}

.scene__content {	
    align-items:center;
    animation:moveContentPos 5s infinite, blurContent 5s infinite;
    display:flex;
    filter:blur(.6px);
    flex-direction:column;
    height:100%;
    left:0;
    justify-content:center;
    margin:10px;
    overflow:hidden;
    position:relative;
    top:0;
    width:100%;
}

/* Customize text */
.scene__text {
    color:#000;
    font-family: 'Merienda One', cursive;
    font-size:60px;
    margin-bottom:5px;
}

.scene.active {
    display:flex;
}

/* ANIMATIONS
animations adapted from Antoinette Janus'  Old Time Movie pen*/
@keyframes gradientSize {
  0%{opacity:0.3;}
  10%{opacity:0.4;}
  20%{opacity:0.25;}
  30%{opacity:0.5;}
  40%{opacity:0.75;}
  50%{opacity:0.5;}
  60%{opacity:1;}
  70%{opacity:0.75}
  80%{opacity:0.5;}
  90%{opacity:0.25;}
  100%{opacity:0.5;}
}

/* moves the line */
@keyframes moveLine{
  0%{left:0;opacity:0;}
  9%{left:0;opacity:0;}
  10%{left:15%;opacity:0.25;}
  15%{left:20%;opacity:0.1;}
  20%{left:10%;opacity:0.2;}
  25%{left:25%;opacity:0.2;}
  30%{left:30%;opacity:0.3;}
  40%{left:20%;opacity:0.2;}
  50%{left:30%;opacity:0.1;}
  60%{left:20%;opacity:0.2;}
  70%{left:0%;opacity:0.2;}
  80%{left:10%;opacity:0.2;}
  90%{left:30%;opacity:0.3;}
  100%{left:10%;opacity:0.1;}
}

/* animation adapted from Dimitra Vasilopoulou's Silent Movie Text Effect pen */
@keyframes vignette {
  0%,100%{opacity:1;}
  50%{opacity:0.7;}
}

/* new animations moves the text content around a little bit */
@keyframes moveContentPos{
  0%{left:0px;top:0;}
  5%{left:0;top:0;}
  10%{left:0;top:-1px;}
  15%{left:0;top:0;}
  30%{left:0px;top:0;}
  37%{left:-1px;top:0;}
  40%{left:0px;top:0;}
  45%{left:0;top:2px;}
  50%{left:0px;top:0;}
  62%{left:-1px;top:0;}
  65%{left:0;top:-2px;}
  67%{left:0px;top:0;}
  78%{left:0px;top:0;}
  80%{left:0;top:2px;}
  85%{left:0;top:0;}
  100%{left:0px;top:0;}
}

@keyframes blurContent {
	0% {filter:blur(.4px);}
	5% {filter:blur(.5px);}
	10% {filter:blur(.5px);}
	15% {filter:blur(.6px);}
	20% {filter:blur(.6px);}
	25% {filter:blur(.5px);}
	30% {filter:blur(.4px);}
	36% {filter:blur(.6px);}
	42% {filter:blur(.7px);}
	48% {filter:blur(.8px);}
	57% {filter:blur(.7px);}
	60% {filter:blur(.6px);}
	65% {filter:blur(.5px);}
	71% {filter:blur(.6px);}
	78% {filter:blur(.8px);}
	83% {filter:blur(.9px);}
	89% {filter:blur(.7px);}
	94% {filter:blur(.5px);}
	100% {filter:blur(.4px);}
}

/* Scroll down arrow
-------------------------*/

.scroll-down {
    scroll-behavior: smooth;

}
.scroll-down {
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -16px;
    display: block;
    width: 32px;
    height: 32px;
    border: 2px solid rgba(34, 34, 34, 0.911);
    opacity: 0.5;
    background-size: 14px auto;
    border-radius: 50%;
    z-index: 2;
    -webkit-animation: bounce 2s infinite 2s;
    animation: bounce 2s infinite 2s;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;

}

.scroll-down:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid rgba(34, 34, 34, 0.911);
    opacity: 0.5;
    border-width: 0px 0 2px 2px;
}

@keyframes bounce {
    0%,
    100%,
    20%,
    50%,
    80% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    60% {
        -webkit-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
        transform: translateY(-5px);
    }
}


/* ABOUT SECTION
-------------------------------------------------- */
.about-section {
    background-image:url("../images/brown-background.jpg");
}

.picture-background {
    background-image:url("../images/photo.png");
    width: 500px;
    height: 500px;
    background-repeat: no-repeat;
    margin: auto;
    padding-top: 40px;
    margin-bottom: 5%;
}

.description-text {
    font-size: 1.5rem;
    width: 50%;
    padding: 1% 0;
    margin: auto;
    text-align: justify;
}

.description-text span{
    font-weight: bold;
}

.description-projects {
    font-size: 1.5rem;
    letter-spacing: 2px;
    width: 50%;
    padding: 5% 0;
    margin:auto;
    text-align: justify;
}

.description-projects p:nth-child(2) {
    font-size: 1.2rem;
    font-style: italic;
}

/* PROJECTS SECTION
-------------------------------------------------- */
.projects-section {
    background-image:url("../images/grey-background.jpg");
}

#my-projects-section{
    text-align: center;
    font-size: 40px;
    margin: 0;
    padding-top: 40px;
}

.my-projects-section-hr {
    width: 10%;
    height: 5px;
    text-align: center;
    background-color: brown;
}

.section-scroll {
    position: relative;
    padding-bottom: 10%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.section-scroll .reveal {
    position: relative;
    transform-origin: left;
    transform: scaleX(0);
    transition: 0.7s;
    transition-delay: 0.5s;
}

.section-scroll .reveal:before {
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: brown;
    transform-origin: right;
    transition: 0.7s;
    transition-delay: 0s;
}

.reveal-title {
    font-size: 2.5rem;
    margin: 20px 0;
    color: brown;
}

.section-scroll .reveal.active {
    transform: scaleX(1);
}

.reveal-text {
    font-size: 1.6rem;
}

.reveal-text span {
    font-style: italic;
}

.section-scroll .reveal:nth-child(4) {
    font-weight: 300;
    font-size: 1.5em;
    letter-spacing: 2px;
    margin-top: 5px;
    display: inline-block;
}

.section-scroll .reveal:nth-child(4):before {
    background: #ffeb3b;
}

.section-scroll .reveal.active:before {
    transform: scaleX(0);
    transition-delay: 0.5s;
}

.grid-picture-container {
    display: grid;
    grid-template-columns: 400px 500px;
    grid-gap: 50px;
}

.picture-size {
    width: 400px;
    height: 400px;
    border-radius: 200px;
    border: 2px solid white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    margin: 20px 0 40px 10px;
    opacity: 0;
    transition: 1.5s;
    object-fit: cover;
}

.picture-size.active{
    left: 0;
    opacity: 1;
    object-fit: cover;
}

.picture-size:hover {
    transform: scale(1.1);
}

.btn-project {
    display: inline-block;
    padding: .75rem 1.25rem;
    border-radius: 10rem;
    color: #fff;
    background-color: #475569;
    text-transform: uppercase;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 1rem;
    letter-spacing: .15rem;
}

/* CONTACT SECTION
-------------------------------------------------- */
.contact-section {
    background-color: #000;
}

#contact-title{
    text-align: center;
    font-size: 40px;
    margin: 0;
    padding-top: 40px;
    color: #fff;
}

.contact-title-hr {
    width: 10%;
    height: 5px;
    text-align: center;
    background-color: brown;
}

.social-icons {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    margin: auto;
    padding: 5% 0;
}

.social-logo {
    transition:transform .9s;
}

.social-logo:hover {
    transform:rotate(360deg);
}

.mail-phone-contact {
    text-align: center;
}

.mail-phone-contact p {
    color: white;
    font-size: 2rem;
}

.contact-hr {
    width: 15%;
}

.second-contact-hr {
    width: 15%;
    margin-top: 6%;
}

.legale-notices-p {
    text-align: center;
}

.legale-notices-link {
    color: #fff;
}

.legale-notices-link:hover {
    opacity: 0.8;
}

.copyright {
    color: #fff;
    text-align: center;
    padding-bottom: 1%;
    margin: 0px;
}

/* LEGAL NOTICE PAGE
-------------------------------------------------- */
.legales-notices-section {
    background-image:url("../images/grey-background.jpg");
    padding-bottom: 2%;
}

.legales-notices-div {
    padding-top: 5%;
    width: 60%;
    text-align: justify;
    margin: auto;
}

.legales-notices-title {
    text-align: center;
    font-size: 30px;
}

/* RESPONSIVE
-------------------------------------------------- */

@media screen and (max-width: 768px) {
    /* NAVBAR */
    .navbar {
        padding: 1rem 0rem;
    }

    .nav-menu {
        position: fixed;
        right: -120%;
        top: 2.5rem;
        flex-direction: column;
        background-color:#e6e3e3;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
        0 10px 27px rgba(0, 0, 0, 0.05);
        padding-left: 0px;
    }

    .nav-menu.active {
        right: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        padding-right: 5%;
        color: #fff;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }

    /* NAV SECTION */
    .nav-section {
        width: 100%;
        height: 100vh;

    }

    .container-nav {
        background-color: transparent;
    }

    .nav-links {
        background-color: #fff;
    }

    .presentation-text {
        font-size: 50px;
    }

    /* ANIMATION
    Customize text */
    .scene__text {
        font-size: 25px;
    }

    /* ABOUT SECTION */
    .about-section-hr {
        width: 40%;
    }
    
    .picture-background {
        background-image:url("../images/photo-small.png");
        width: 250px;
        height: 250px;
        background-repeat: no-repeat;
        background-size: cover;
        margin: auto;
        margin-bottom: 5%;
    }

    .description-text {
        width: 85%;
        font-size: 1.2rem;
        padding: 5% 0;
    }

    .download-button {
        padding: 20px;
        font-size: 15px;
    }

    /* PROJECTS SECTION */
    #my-projects-section {
        padding-top: 60px;
    }

    .my-projects-section-hr {
        width: 40%;
    }

    .description-projects {
        width: 80%;
        font-size: 1.2rem;
    }

    .description-projects p:nth-child(2) {
        font-size: 1rem;
    }

    .section-scroll {
        padding-bottom: 40%;
    }

    .picture-size {
        width: 250px;
        height: 250px;
        border-radius: 125px;
        left: -100px;
        border: 2px solid white;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        margin: 20px 0;
        opacity: 0;
        transition: 1.5s;
        object-fit: cover;
    }

    .reveal-text {
        font-size: 1.2rem;
    }

    .section-scroll .reveal:nth-child(4) {
        font-weight: 300;
        font-size: 1.2em;
        letter-spacing: 2px;
        }

    #contact-title {
        font-size: 20px;
    }

    .social-icons {
        display: flex;
        justify-content: space-evenly;
        width: 90%;
        padding: 15% 0;
    }

    .social-logo {
        width: 100px;
        height: auto;
    }

    .mail-phone-contact p {
        font-size: 1.2rem;
    }

    .second-contact-hr {
        margin-top: 20%;
    }

    .legales-notices-div {
        padding-top: 20%;
        width: 85%;
    }
}

@media screen and (max-width: 1024px) {
    .grid-picture-container {
        display: flex;
        flex-direction: column;
        grid-gap: 0;
    }

    .grid-picture-container ul{
        padding-inline-start: 0px;
    }
}
