@import url('https://fonts.googleapis.com/css2?family=Merienda+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap');

:root {
    --primary-color : rgb(68, 64, 64);
    --second-color: rgb(141, 31, 31);
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}

/* NAVBAR
=========================================== */
li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header{
    border-bottom: 1px solid #E2E8F0;
}

.nav-section {
    width: 100%;
    height: 100vh;
    z-index: 1;

}

#nav-bar {
    position: fixed;
    right: 0;
    top: 0;
    padding-top: 2%;
    padding-right: 2%;
    z-index: 10;
}

.nav-menu {
    /* Alternative of backdrop-filter */
    background: hsla(0, 0%, 100%, .3);
    overflow: hidden;
    position: fixed;
    right: -120%;
    top: -20px;
    padding-top: 15%;
    opacity: 0.;
    width: 15%;
    height: 110%;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    padding-left: 0px;
}

/* Alternative of backdrop-filter */
.nav-menu::before {
    content: '';
    filter: blur(1.5rem);
    z-index: -1;
}

.nav-menu.active {
    right: 0;
}

.nav-item {
    margin: 2.5rem 0;
}

.nav-item:hover > a {
    transform: scale(1.1);
    text-decoration: none;
}

.nav-link{
    font-size: 2rem;
    color: var(--second-color);
    text-decoration: none;
}
    
.hamburger {
    display: block;
    cursor: pointer;
    color: #fff;
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--second-color);
}

/* HOMEPAGE OLD MOVIE ANIMATION
=========================================== */
.scene-section {
	display:flex;
	flex-direction:column;
}

.feature {
	align-items:center;
	display:flex;
	flex-direction:column;
	height:100%;
	justify-content:center;
	width:100%;
}

.screen {
    background-color: #e3e3e36c;
	background-size:auto 102%;
    background-repeat:no-repeat;
    height: 100vh;
    width: 100%;
	filter:sepia(40%);
	left:50%;
	overflow:hidden;
	position:absolute;
	top:50%;
    transform:translate(-50%,-50%);
}

.screen::after {
    box-shadow:inset 0px 0px 150px 20px #000;
    content:'';
    height:100%;
    left: 0;
    mix-blend-mode:color;
    position:absolute;
    top:0;
    width:100%; 
    z-index:15;
}

.screen__noise {
    left:0;
    height:100%;
    opacity:.05;
    pointer-events:none;
    position:absolute;
    top:0;
    width:100%;
    z-index:16;
}

.screen__effects {
    height: 105%;
    margin-top:-20px;
    margin-left:-20px;
    position:absolute;
	width:105%;
}

.screen__effects::before{
    animation: gradientSize 1.5s infinite;
    box-shadow: inset 0 0 10em rgba(0,0,0,1);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.screen__effects::after{
    animation: moveLine 8s infinite;
    background-color: #000;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 1px;
}
	
.screen_vignette {
    box-shadow: inset 0px 0px 150px 20px #000;
    height: 100%;
    mix-blend-mode: multiply;
    position: absolute;
  	width: 100%; 
}

.scene {
	display: none;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 100%;
}

.scene__content {	
    align-items: center;
    animation: moveContentPos 5s infinite, blurContent 5s infinite;
    display: flex;
    filter: blur(.6px);
    flex-direction: column;
    height: 100%;
    left: 0;
    justify-content: center;
    margin: 10px;
    overflow: hidden;
    position: relative;
    top: 0;
    width: 100%;
}

/* CUSTOMIZE TEXT*/
.scene__text {
    color: var(--primary-color);
    font-family: 'Merienda One', cursive;
    font-size: 60px;
    margin-bottom: 5px;
}

.scene__text_h1 {
    color: var(--second-color);
    font-family: 'Merienda One', cursive;
    font-size: 60px;
    margin-bottom: 5px;
    margin: 0;
}

.scene.active {
    display: flex;
}

/* ANIMATIONS
animations adapted from Antoinette Janus'  Old Time Movie pen*/
@keyframes gradientSize {
  0%{opacity:0.3;}
  10%{opacity:0.4;}
  20%{opacity:0.25;}
  30%{opacity:0.5;}
  40%{opacity:0.75;}
  50%{opacity:0.5;}
  60%{opacity:1;}
  70%{opacity:0.75}
  80%{opacity:0.5;}
  90%{opacity:0.25;}
  100%{opacity:0.5;}
}

/* moves the line */
@keyframes moveLine{
  0%{left:0;opacity:0;}
  9%{left:0;opacity:0;}
  10%{left:15%;opacity:0.25;}
  15%{left:20%;opacity:0.1;}
  20%{left:10%;opacity:0.2;}
  25%{left:25%;opacity:0.2;}
  30%{left:30%;opacity:0.3;}
  40%{left:20%;opacity:0.2;}
  50%{left:30%;opacity:0.1;}
  60%{left:20%;opacity:0.2;}
  70%{left:0%;opacity:0.2;}
  80%{left:10%;opacity:0.2;}
  90%{left:30%;opacity:0.3;}
  100%{left:10%;opacity:0.1;}
}

/* animation adapted from Dimitra Vasilopoulou's Silent Movie Text Effect pen */
@keyframes vignette {
  0%,100%{opacity:1;}
  50%{opacity:0.7;}
}

/* new animations moves the text content around a little bit */
@keyframes moveContentPos{
  0%{left:0px;top:0;}
  5%{left:0;top:0;}
  10%{left:0;top:-1px;}
  15%{left:0;top:0;}
  30%{left:0px;top:0;}
  37%{left:-1px;top:0;}
  40%{left:0px;top:0;}
  45%{left:0;top:2px;}
  50%{left:0px;top:0;}
  62%{left:-1px;top:0;}
  65%{left:0;top:-2px;}
  67%{left:0px;top:0;}
  78%{left:0px;top:0;}
  80%{left:0;top:2px;}
  85%{left:0;top:0;}
  100%{left:0px;top:0;}
}

@keyframes blurContent {
	0% {filter:blur(.4px);}
	5% {filter:blur(.5px);}
	10% {filter:blur(.5px);}
	15% {filter:blur(.6px);}
	20% {filter:blur(.6px);}
	25% {filter:blur(.5px);}
	30% {filter:blur(.4px);}
	36% {filter:blur(.6px);}
	42% {filter:blur(.7px);}
	48% {filter:blur(.8px);}
	57% {filter:blur(.7px);}
	60% {filter:blur(.6px);}
	65% {filter:blur(.5px);}
	71% {filter:blur(.6px);}
	78% {filter:blur(.8px);}
	83% {filter:blur(.9px);}
	89% {filter:blur(.7px);}
	94% {filter:blur(.5px);}
	100% {filter:blur(.4px);}
}

/* Scroll down arrow
============================*/
#scroll-down {
    position: absolute;
    bottom: 50px;
    left: 50%;
    margin-left: -16px;
    display: block;
    width: 32px;
    height: 32px;
    z-index: 2;
    scroll-behavior: smooth;
    -webkit-animation: bounce 2s infinite 2s;
    animation: bounce 2s infinite 2s;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

#scroll-down p{
    text-decoration: none;
    color: rgba(34, 34, 34, 0.911);
    position: absolute;
    bottom: 5px;
    left: 0%;
}

#scroll-down:before {
    position: absolute;
    top: 50%;
    left: 80%;
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid rgba(34, 34, 34, 0.911);
    opacity: 0.5;
    border-width: 0px 0 2px 2px;
}

@keyframes bounce {
    0%,
    100%,
    20%,
    50%,
    80% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    60% {
        -webkit-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
        transform: translateY(-5px);
    }
}

/* ALL SECTIONS CONTAINER
=========================================== */
.section-container {
    width: 70%;
    margin: auto;
}

/* ABOUT SECTION
=========================================== */
#about-section {
    background-image:url("../images/brown-background.jpg");
}

.about-container {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: auto;
    padding: 12% 0 20% 0;
}

.about-section-right {
    width: 100%;
    text-align: left;
    padding: 0 50px;
    text-align: justify;
}

#about-title {
    text-align: left;
    font-size: 2.2rem;
    font-weight: 300;
    color: black;
    margin-top: 0;
    text-transform: uppercase;
}

#about-title span {
    color: var(--second-color);
}

.about-section-right p {
    font-size: 1.2rem;
    margin-top: 5px;
    font-weight: 300;
    color: var(--primary-color);
}

.about-img {
	position: relative;
    z-index: 2;
}

.img{
    width: 100%;
    height: auto;
    border: 2px solid white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background-color: rgb(228, 228, 228);
}

.resp-img {
    display: none;
}

.about-img::after {
	content: '';
	position: absolute;
    left: -45px;
    top: 34px;
    height: 98%;
    width: 98%;
    border: 10px solid var(--second-color);
    z-index: -1;
}

.btn-custom {
    color: var(--primary-color);
	padding: 10px 20px;
	display: inline-block;
	border: 2px solid var(--second-color);
	text-transform: uppercase;
	margin-top: 30px;
	transition: 0.3s ease;
    cursor: pointer;
}

.btn-custom:hover {
	color: white;
	background-color: var(--second-color);
}

/* SKILLS SECTION
=========================================== */
#skills-section {
    width: 80%;
    margin: auto;
    margin-top: -5%;
    position: relative;
    display: flex;
    padding-bottom: 15rem;
}

#skills-section article {
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgb(0 0 0 / 20%);
    margin: auto;
    z-index: +1;
}

.skills-ul {
    padding: 30px;
}

#skills-title {
    text-align: center;
    font-size: 2.2rem;
    font-weight: 300;
    color: black;
    text-transform: uppercase;
    writing-mode: vertical-rl;
    text-orientation: sideways;
    margin: 0;
    padding: 0;
}

#skills-title span {
    color: var(--second-color);
}

.skills-subtitles {
    font-size: 1.4rem;
    padding-bottom: 3rem;
    text-transform: uppercase;
    text-align: center;
}

.skills-subtitles span {
    color: var(--second-color);
}

.skills-li {
    display: flex;
    align-items: center;
}

.skills-li span{
    font-size: 1.2rem;
}

.skills-hr {
    width: 1px;
    background-color: var(--second-color);
}

/* PROJECTS SECTION
=========================================== */
#projects-title {
    text-align: center;
    font-size: 2.2rem;
    font-weight: 300;
    color: black;
    text-transform: uppercase;
}

#projects-title span {
    color: var(--second-color);
}

.section-hr {
    width: 20%;
    height: 2px;
    text-align: left;
    background-color: brown;
}

.presentation-projects {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 8rem;
    color: var(--primary-color);
}

/* Scrolling projects animation*/
.reveal {
    position: relative;
    transform-origin: left;
    transform: scaleX(0);
    transition: 0.6s;
    transition-delay: 0.3s;
}

.reveal:before {
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--second-color);
    transform-origin: right;
    transition: 0.6s;
    transition-delay: 0s;
}

.reveal-title {
    font-size: 2rem;
    margin: 20px 0;
    font-weight: 300;
    color: var(--second-color);
}

.reveal-hr {
    margin-bottom: 1.2rem;
}

.reveal.active {
    transform: scaleX(1);
}

.reveal.active:before {
    transform: scaleX(0);
    transition-delay: 0.5s;
}

#grid-projects-container {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 5%;
    margin: auto;
}

.project-container {
    display: block;
    text-align: center;
}

.picture-size {
    width: 18rem;
    height: 18rem;
    border-radius: 200px;
    border: 2px solid white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    margin: 20px 0 40px 10px;
    transition: 1.5s;
    object-fit: cover;
}

.picture-size:hover {
    transform: scale(1.1);
}

/* Modal popup "Details project" */
.modal {
    position: fixed;
    left: 50%;
    width: 40%;
    transform: translate(-50%, -50%);
    transition: top 0.3s ease-in-out;
    border: 1px solid #ccc;
    border-radius: 10px;
    z-index: 20;
    color: var(--primary-color);
    background-color: #fff;
    /*  For scrolling long content modal */
    max-height: calc(100vh - 20px);
    overflow-y: auto;
}

/* location from the top */
.modal.active {
    top: 50%;
}

.close-modal {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
}

.modal-header {
    font-size: 2rem;
    color: var(--second-color);
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.05);
}

.modal-hr {
    margin: 2rem 0;
}

.modal-body {
    font-size: 1.2rem;;
    padding: 2rem 2rem 0 2rem;
}

.modal-body p{
    text-align: justify;
}

.modal-body span{
    font-weight: bold;
}

.modal-content-text {
    padding: 0 1.5rem;
    text-align: initial;
}

.icon-pictures-container {
    text-align: center;
}

.icon-picture {
    width: 50px;
    height: auto;
    padding: 10px;
}

/* button in popup */
.btn-custom-projects {
    color: var(--primary-color);
    background-color: transparent;
    margin: 1.2rem 0.2rem;
	padding: 10px 20px;
	display: inline-block;
	border: 2px solid var(--second-color);
	text-transform: uppercase;
	margin-top: 30px;
	transition: 0.3s ease;
    cursor: pointer;
}

.btn-custom-projects:hover {
	color: white;
	background-color: var(--second-color);
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

#overlay.active {
    display: block;
}

/* CONTACT SECTION
=========================================== */
.contact-section {
    background-image:url("../images/brown-background.jpg");
    margin-top: 15rem;
}

#contact-title {
    text-align: center;
    font-size: 2.2rem;
    font-weight: 300;
    color: black;
    padding-top: 40px;
    text-transform: uppercase;
}

#contact-title span {
    color: var(--second-color);
}

.social-icons {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    margin: auto;
    padding: 2% 0;
}

.social-logo {
    transition:transform .9s;
}

.social-logo:hover {
    transform:rotate(360deg);
}

.mail-phone-contact {
    text-align: center;
}

.mail-phone-contact p {
    color: var(--primary-color);
    font-size: 2rem;
}

.legale-notices-p {
    text-align: center;
}

.legale-notices-link {
    color: var(--primary-color);
}

.legale-notices-link:hover {
    opacity: 0.8;
}

.copyright {
    color: var(--primary-color);
    text-align: center;
    padding-bottom: 1%;
    margin: 0px;
}

/* LEGAL NOTICE PAGE
=========================================== */
.legales-notices-section {
    background-image:url("../images/var(--second-color)-background.jpg");
    padding-bottom: 2%;
}

.legales-notices-div {
    padding-top: 5%;
    width: 60%;
    text-align: justify;
    margin: auto;
}

.legales-notices-title {
    text-align: center;
    font-size: 30px;
}

/* RESPONSIVE
=========================================== */
@media screen and (max-width: 1400px) {
    .section-container {
        width: 80%;
    }

    /* ABOUT SECTION */
    .picture-size {
        width: 15rem;
        height: 15rem;
    }

    .about-container {
        width: 80%;
        margin: auto;
    }

    .about-section-right p {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 1000px) {
    .nav-section {
        width: 100%;
        height: 100vh;
    }

    .nav-menu {
        width: 40%;
        padding-top: 30%;
    }

    #nav-bar {
        padding-top: 5%;
        padding-right: 5%;
    }

    .nav-link {
        font-size: 1.2rem;
    }

    /* ABOUT SECTION */
    #about-section-hr {
        width: 40%;
    }

    #about-title {
        font-size: 2rem;
    }

    #skills-section {
        width: 40%;
        margin: auto;
        position: relative;
        display: block;
        padding-bottom: 8rem;
    }

    #skills-title {
        margin: 4rem auto;
        font-size: 2rem;
        /*  Reposition in horizontal version */
        writing-mode: horizontal-tb;
    }

    /* PROJECTS SECTION */
    #projects-title {
        font-size: 2rem;
    }

    .picture-size {
        width: 12rem;
        height: 12rem;
    }  

    /* Modal pop up */
    .modal {
        top: -100%;
        width: 90%;
    }

    /* location of the modal on the screen from the top */
    .modal.active {
        top: 50%;
    }

    .modal-content-title {
        font-size: 2rem; 
    }

    .modal-body {
        font-size: 1rem;
        padding: 1.2rem 1.2rem 0 1.2rem;;
    }

    /* CONTACT SECTION */
    #contact-title {
        font-size: 2rem;
    }
}

@media screen and (max-width: 768px) {
    /* Animation customize text */
    .scene__text {
        font-size: 50px;
    }

    .scene__text_h1 {
        font-size: 50px;
    }

    /* ABOUT SECTION */
    .about-container {
        display: block;
        height: auto;
        padding: 12% 0;
    }

    .about-img {
        display: flex;
        justify-content: center;
    }

    .img {
        display: none;
    }

    .resp-img {
        display: block;
        width: 40%;
        height: auto;
        border: 2px solid white;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        background-color: rgb(228, 228, 228);
    }

    .about-img::after {      
        width: 40%;
        left: 5rem;
    }
    
    .about-section-right {
        padding: 100px 0 0 0;
    }

    /* PROJECT SECTION */
    .section-hr {
        width: 30%;
    }

    .social-icons {
        display: flex;
        justify-content: space-evenly;
        width: 90%;
        padding: 5% 0;
    }

    .social-logo {
        width: 100px;
        height: auto;
    }

    .mail-phone-contact p {
        font-size: 1.2rem;
    }

    .legales-notices-div {
        padding-top: 20%;
        width: 85%;
    }
}

@media screen and (max-width: 450px) {
    /* Animation customize text */
    .scene__text {
        font-size: 35px;
    }

    .scene__text_h1 {
        font-size: 35px;
    }

    /* ABOUT SECTION */
    .resp-img {
        width: 60%;
    }

    .about-img::after {      
        width: 60%;
        left: 0;
    }

    #about-title {
        font-size: 1.7rem;
    }

    /* SKILLS SECTION */
    #skills-section {
        width: 80%;
    }

    #skills-title {
        font-size: 1.7rem;
    }

    /* PROJECTS SECTION */
    .presentation-projects {
        margin: 4rem 0;
    }

    #projects-title {
        font-size: 2rem;
    }

    #grid-projects-container {
        display: grid;
        grid-template-columns: 49% 49%;
        grid-gap: 2%;
        margin: auto;
    }

    .picture-size {
        width: 8rem;
        height: 8rem;
    }

    .description-text {
        padding: 3% 0;
    }

    .reveal-title {
        font-size: 1.5rem;
    }

    /* CONTACT SECTION */
    .contact-section {
        margin-top: 10rem;
    }

    #contact-title {
        font-size: 1.7rem;
    }
}
